*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.case {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.language {
    display: flex;
    align-items: center;
}

.subscribe button {
    padding: 10px 16px;
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    color: white;
    border-radius: 13px;
    border-color: #1E96C8;
}